<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>

<body>
    <div class="container" id='card' style="border-radius:20px;overflow:hidden;height:80%;">
        <div class="row" id="loginrow" style="height:100%">
            <div class="col-6" id="logincard">

                <h2>Login səhifəsi</h2>
                <form class="col-8">
                    {% csrf_token %}'
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">İstifadəci adı</label>
                        <input type="email" id='username' class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Parol</label>
                        <input type="password" id='password' class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="button" id="submitBtn" class="btn btn-primary">Daxil Ol</button>
                    <div class="mb-3"></div>
                </br>
                    <div class="mb-3" id="error_card">


                       

                    </div>


                </form>
            </div>
            <div class="col-6" id="imagecard">

            </div>
        </div>

        <div class="row" id="userrow" style="height:0%">
            <div class="col-6" id="logincard">
                <h1></h1>
                <div class="col-6">
                    <p><h1>Xoş gəlmisiniz </h1><h3>{{request.user.username}}</h3></p>
                 
                </div>
                
            </div>
            <div class="col-6" id="imagecard2">

            </div>
        </div>
    </div>

    <script src="/static/js/app.js"></script>
</body>

</html>